/* s1(첫 번째 섹션) */
.s1{
    height: 400vh;
    margin-top: -100px;
}
.s1 .s1-inner .s1-bg{
    position: absolute;
    top: 0;
    left: 0;          
    width: 100%;
    height: 100%;
    background-image: url('../images/doing/s1_img1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: inset(0 0 0 0);
    z-index: 2;
}
.s1 .s1-inner .s1-bg h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    color: #fff;
    font-family: '7bold';
    font-size: 9.6rem;    
    text-align: center;
    z-index: 2;
}
.s1 .s1-inner .s1-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    color: #000;
    font-family: '7bold';
    font-size: 9.6rem;    
    text-align: center;
    z-index: 1;
}
.s1 .s1-inner .inquiry{
    position: absolute;
    top: calc(50% + 170px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.s1 .s1-inner .inquiry a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: '6semi';
    font-size: 2.4rem;
    padding: 10px 24px 10px 28px;
    background: #eee;
}

/* s2(두 번째 섹션) */
.s2{
    position: relative;
    height: 300vh;
}
.s2 .s2-inner .s2-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 142px;
    max-width: 885px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.s2 .s2-inner .s2-cont .s2-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    white-space: nowrap;
}
.s2 .s2-inner .s2-cont .s2-title h2{
    font-size: 6rem;
    font-family: '6semi';
}
.s2 .s2-inner .s2-cont .s2-title p{
    font-size: 3rem;
    font-family: '4Regular';
    color: #616161;
}
.s2 .s2-inner .s2-cont .s2-list{
    display: flex;
    flex-direction: column;
    gap: 93px;
    width: 100%;
}
.s2 .s2-inner .s2-cont .s2-list li{
    width:max-content
}
.s2 .s2-inner .s2-cont .s2-list li:nth-child(1),
.s2 .s2-inner .s2-cont .s2-list li:nth-child(3){
    margin-left: auto;
}
.s2 .s2-inner .s2-cont .s2-list li:nth-child(2),
.s2 .s2-inner .s2-cont .s2-list li:nth-child(4){
    margin-right: auto;
}

.s2 .s2-inner .s2-cont .s2-list li:nth-child(1) .list-cont,
.s2 .s2-inner .s2-cont .s2-list li:nth-child(3) .list-cont{
    background: #EAE2FF;
    color: #4219AC;
}
.s2 .s2-inner .s2-cont .s2-list li:nth-child(2) .list-cont,
.s2 .s2-inner .s2-cont .s2-list li:nth-child(4) .list-cont{
    background: #6F36FF;
    color: #fff;
}

.s2 .s2-inner .s2-cont .s2-list .list-cont{
    width: 600px;
    height: 68px;
    text-align: center;
    line-height: 68px;
}
.s2 .s2-inner .s2-cont .s2-list .list-cont p{
    font-family: '4Regular';
    font-size: 3.2rem;
}
.s2 .s2-inner .s2-cont .square{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 56px;
}
.s2 .s2-inner .s2-cont .square span{
    width: 16px;
    height: 16px;
}
.s2 .s2-inner .s2-cont .square span:nth-child(1){
    background: #e0e0e0;
}
.s2 .s2-inner .s2-cont .square span:nth-child(2){
    background: #EEEEEE;
}
.s2 .s2-inner .s2-cont .square span:nth-child(3){
    background: #FAFAFA;
}
/* s3(세 번째 섹션) */
.s3{
    position: relative;
    margin-top: -300vh;
    z-index: 2;
    height: 400vh;
    background: #000;
    clip-path: inset(100% 0% 0% 0%);
}
.s3 .s3-inner .inner-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.s3 .s3-inner .inner-txt h2{
    font-family: '7bold';
    font-size: 6rem;
    text-align: center;
}

.s3 .s3-inner .inner-txt h2 > p .char{
    color: rgba(255, 255, 255, .2);
}
.s3 .s3-inner .inner-txt h2 > p:nth-child(2) .char{
    -webkit-background-clip: text !important;
}

/* s4(네 번째 섹션) */
.s4{
    position: relative;
    background: #090909;
    height: 1000vh;
}
.s4 .s4-inner{

}
.s4 .s4-inner .s4-cont{
    width: 100%;
    height: 100%;
}
.s4 .s4-inner .s4-cont .intro{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.s4 .s4-inner .s4-cont .intro .intro-img{}
.s4 .s4-inner .s4-cont .intro .intro-img img{
    width: 16vw;
}
.s4 .s4-inner .s4-cont .intro .intro-txt{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.s4 .s4-title{
    font-family: '6semi';
    font-size: 2.6vw;
    color: #fff;
}
.s4 .s4_sub-title{
    font-family: '4Regular';
    font-size: 1.3vw;
    color: #9e9e9e;
}
.s4 .s4-inner .s4-cont .mobile-cont{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner{
    position: relative;
    width: 100%;
    height: 100%;
}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img{
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%) rotate(0deg) scale(1.2);
    width: 100%;
    height: 100%;
    perspective: 1200px;
}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img img{}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile1{}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile1 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46.5vw;
}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile2{
    display: none;
}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile2 img{
    position: absolute;
    top: 50%;
    left: calc(50% + 325px);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease;
    width: 9.95vw;
}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile3{
}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile3 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: inset(0% 100% 0% 0%);
    width: 44.55vw;
}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile4{
    opacity: 0;
}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile4 img{
    position: absolute;
    top: 50%;
    /* left: 41.2vw; */
    left: 80vw;
    transform: translate(-50%, -50%);
    /* clip-path: inset(0% 0% 0% 100%); */
    width: 27.77vw;
}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile5{
}
.s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile5 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    clip-path: inset(0% 0% 100% 0%);
    width: 20.5vw;
}
.s4 .s4-inner .s4-cont .mobile-txt{
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.s4 .s4-inner .s4-cont .pop-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img img{}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img.pop1{
    top: 55%;
    left: 32%;
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img.pop1 img{
    width: 18vw;
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img.pop2{
    top: 74%;
    left: 28%;
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img.pop2 img{
    width: 18vw;
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img.pop3{
    top: 22%;
    left: 62%;
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img.pop3 img{
    width: 18vw;
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img.pop4{
    left: 73%;
    top: 48%;
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img.pop4 img{
    width: 18vw;
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img.pop5{
    left: 72%;
    top: 81%;
}
.s4 .s4-inner .s4-cont .pop-area .pop-inner .pop-img.pop5 img{
    width: 18vw;
}
.s4 .s4-inner .s4-cont .pop-area_mo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.s4 .s4-inner .s4-cont .pop-area_mo .pop-inner{
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.s4 .s4-inner .s4-cont .mobile_behind{
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 20px;
    opacity: 0;
}
.s4 .s4-inner .s4-cont .num{
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 20vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.6vw;
    color: #6f36ff;
    font-family: '7bold';
    z-index: 3;
    opacity: 0;
}
.s4 .s4-inner .s4-cont .num .odometer {
    font-family: '7bold' !important;
}
.s4 .s4-inner .s4-cont .recipt-txt {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 23.2vw;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
}
.s4 .s4-inner .s4-cont .recipt-txt p {
    font-family: '4Regular';
    font-size: 1.1vw;
    color: #212121;
}


/* s5(다섯 번째 섹션) */
.s5{
    position: relative;
    background: url('../images/doing/s4_img12.png') no-repeat;
    background-size: cover;
}
.s5 .s5-inner{
    width: 100%;
    padding-top: 450px;
}
.s5 .s5-inner .s5-cont{
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: center;
    overflow: hidden;
}
.s5 .s5-inner .s5-cont .s5-title{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.s5 .s5-inner .s5-cont .s5-title h2{
    font-family: '6semi';
    font-size: 6rem;
    color: #fff;
}
.s5 .s5-inner .s5-cont .s5-title p{
    font-family: '4Regular';
    font-size: 2.8rem;
    color: #e0e0e0;
}
.s5 .s5-inner .s5-cont .s5-list{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 180px;
    margin: auto;
    /* width: max-content;
    min-width: 2000px; */
}
.s5 .s5-inner .s5-cont .s5-list li{
    width: 506px;
    height: 506px;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(1){
    background: #6f36ff;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(1) .list-title{
    color: #fff;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(1) .list_sub-title{
    color: #fff;
    opacity: 0.6;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(2){
    background: #fff;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(2) .list-title{
    color: #000;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(2) .list_sub-title{
    color: #9e9e9e;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(3){
    background: #000;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(3) .list_sub-title{
    color: #9e9e9e;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(3) .list-title{
    color: #6f36ff;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(4){
    background: #eae2ff;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(4) .list-title{
    color: #6f36ff;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(4) .list_sub-title{
    color: #6f36ff;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(5){
    background: #6f36ff;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(5) .list-title{
    color: #fff;
}
.s5 .s5-inner .s5-cont .s5-list li:nth-child(5) .list_sub-title{
    color: #fff;
    opacity: 0.6;
}
.s5 .s5-inner .s5-cont .s5-list li .list-cont{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner{}
.s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner .list-title{
    font-family: '6semi';
    font-size: 4.4rem;
}
.s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner img{
    position: absolute;
    top: 40px;
    right: 40px;
}
.s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner .list_sub-title{
    position: absolute;
    bottom: 40px;
    font-family: '4Regular';
    font-size: 2.4rem;
}
.s5 .s5-inner .s5-cont .s5-list li .list-cont .list-txt p{
    
}
.s5 .s5-inner .s5-footer{
    position: relative;
    height: 73vh;
}
.s5 .s5-inner .s5-footer .s5-footer--inner{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.s5 .s5-inner .s5-footer .s5-footer--inner .footer-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}
.s5 .s5-inner .s5-footer .s5-footer--inner .footer-title h2{
    font-family: '5medium';
    font-size: 6rem;
    color: #fff;
    text-align: center;
}
.s5 .s5-inner .s5-footer .s5-footer--inner .inquiry{
    display: flex;
    justify-content: center;
}
.s5 .s5-inner .s5-footer .s5-footer--inner .inquiry a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: '6semi';
    font-size: 2.4rem;
    padding: 10px 24px 10px 28px;
    background: #212121;
    color: #fff;
}

@media (max-width:1080px){
    .s1 .s1-inner .s1-bg h1, .s1 .s1-inner .s1-title{
        font-size: 6rem;
    }

    .s2 .s2-inner .s2-cont .s2-list .list-cont{
        width: 500px;
        height: 50px;
        line-height: 50px;
    }
    .s2 .s2-inner .s2-cont .s2-title h2{
        font-size: 4rem;
    }
    .s2 .s2-inner .s2-cont .s2-title p{
        font-size: 2rem;
    }
    .s2 .s2-inner .s2-cont .s2-list .list-cont p{
        font-size: 2.4rem;
    }
    .s2 .s2-inner .s2-cont .square span{
        width: 12px;
        height: 12px;
    }

    .s3 .s3-inner .inner-txt h2{
        font-size: 5rem;
    }

    .s4 .s4-title{
        font-size: 3vw;
    }
    .s4 .s4_sub-title{
        font-size: 1.8vw;
    }
    .s4 .s4-inner .s4-cont .intro{
        flex-direction: column-reverse;
        gap: 70px;
        top: 100px;
        transform: translate(-50%, 0);
    }
    .s4 .s4-inner .s4-cont .intro .intro-txt{
        position: relative;
        text-align: center;
        gap: 10px;
    }
    .s4 .s4-inner .s4-cont .intro .intro-img img{
        width: 20vw;
    }
    .s4 .s4-inner .s4-cont .mobile-cont{
        z-index: 0;
    }
    .s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img{
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
    }
    .s4 .s4-inner .s4-cont .mobile-txt{
        gap: 10px;
        left: 50%;
        text-align: center;
        z-index: 3;
    }
    .s4 .s4-inner .s4-cont .pop-area{
        width: 100%;
        height: 100%;
    }
    .s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile2{
        display: none;
    }
    .s4 .s4-inner .s4-cont .num{
        font-family: '7bold';
        font-size: 3vw;
        top: 64vw;
    }
    .s4 .s4-inner .s4-cont .recipt-txt{
        top: 68.2vw;
    }
    .s4 .s4-inner .s4-cont .recipt-txt p{
        font-size: 1.8vw;
    }
    .s4 .s4-inner .s4-cont .mobile_behind{
        gap: 10px;
    }

    .s5{
        /* height: 100vh; */
    }
    .s5 .s5-inner .s5-cont .s5-title h2{
        font-size: 5rem;
    }
    .s5 .s5-inner .s5-cont .s5-title p{
        font-size: 2rem;
    }
    .s5 .s5-inner .s5-cont .s5-list li{
        width: 400px;
        height: 400px;
    }
    .s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner .list-title{
        font-size: 3.4rem;
    }
    .s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner img{
        width: 36px;
    }
    .s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner .list_sub-title{
        font-size: 1.8rem;
    }
    .s5 .s5-inner .s5-footer .s5-footer--inner .footer-title h2{
        font-size: 5rem;
    }
    .s5 .s5-inner .s5-cont .s5-title{
        font-size: 4rem;
    }
    .s5 .s5-inner .s5-footer .s5-footer--inner .inquiry a{
        font-size: 2rem;
    }
}

@media (max-width:768px){
    .s1 .s1-inner .s1-bg h1, .s1 .s1-inner .s1-title{
        font-size: 4rem;
    }
    .s1 .s1-inner .inquiry a{
        font-size: 1.5rem;
        padding: 5px 18px 5px 18px;
    }
    .s1 .s1-inner .inquiry a img{
        width:12px;
    }

    .s2 .s2-inner .s2-cont .s2-title h2{
        font-size: 3.2rem;
    }
    .s2 .s2-inner .s2-cont .s2-title p{
        font-size: 1.8rem;
    }
    .s2 .s2-inner .s2-cont .s2-list .list-cont p{
        font-size: 2rem;
    }
    .s2 .s2-inner .s2-cont .s2-list .list-cont{
        width: 300px;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
    }

    .s3 .s3-inner .inner-txt h2{
        font-size: 4rem;
    }

    .s4 .s4-inner .s4-cont .intro{
        top: 120px;
        gap: 50px;
    }
    .s4 .s4-title{
        font-size: 2rem;
    }
    .s4 .s4_sub-title{
        font-size: 1.2rem;
    }
    .s4 .s4-inner .s4-cont .intro .intro-img img{
        width: 150px;
    }
    .s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile1 img{
        width: 375px;
    }
    .s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile3 img{
        width: 358px;
    }
    .s4 .s4-inner .s4-cont .mobile-cont .mobile-inner .mobile-img.mobile5 img{
        width: 166px;
    }
    .s4 .s4-inner .s4-cont .num{
        font-size: 2.6rem;
        top: 65%;
    }
    .s4 .s4-inner .s4-cont .recipt-txt{
        top: 69%;
    }
    .s4 .s4-inner .s4-cont .recipt-txt p{
        font-size: 1.8rem;
    }
    .s4 .s4-inner .s4-cont .pop-area_mo .pop-inner{
        max-width: 768px;
        width: 100%;
    }
    .s4 .s4-inner .s4-cont .pop-area_mo .pop-inner img{
        margin: 0 auto;
    }

    .s5{
        /* height: 80vh; */
    }
    .s5 .s5-inner .s5-cont .s5-title h2{
        font-size: 3rem;
    }
    .s5 .s5-inner .s5-cont .s5-title p{
        font-size: 1.6rem;
    }
    .s5 .s5-inner .s5-cont{
        gap: 100px;
    }
    .s5 .s5-inner .s5-cont .s5-list li{
        width: 300px;
        height: 300px;
    }
    .s5 .s5-inner .s5-cont .s5-list li .list-cont{
        padding: 20px;
    }
    .s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner .list-title{
        font-size: 2.4rem;
    }
    .s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner img{
        width: 30px;
        top: 20px;
        right: 20px;
    }
    .s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner .list_sub-title{
        font-size: 1.6rem;
        bottom: 20px;
    }
    .s5 .s5-inner .s5-footer .s5-footer--inner .footer-title h2{
        font-size: 4rem;
    }
}

@media (max-width:480px){
    .s1 .s1-inner .s1-bg h1, .s1 .s1-inner .s1-title{
        font-size: 3rem;
    }

    .s2 .s2-inner .s2-cont .s2-list li{
        margin: 0 auto !important;
        width: 100%;
        text-align: center;
    }
    .s2 .s2-inner .s2-cont .s2-list{
        gap: 20px;
    }
    .s2 .s2-inner .s2-cont{
        gap: 100px;
    }
    .s2 .s2-inner .s2-cont .s2-list .list-cont p{
        font-size: 1.4rem;
    }
    .s2 .s2-inner .s2-cont .square span{
        width: 9px;
        height: 9px;
    }

    .s3 .s3-inner .inner-txt h2{
        font-size: 3rem;
    }

    .s5 .s5-inner .s5-cont .s5-title h2{
        font-size: 2rem;
    }
    .s5 .s5-inner .s5-cont .s5-title p{
        font-size: 1.4rem;
    }
    .s5 .s5-inner .s5-cont .s5-list li{
        width: 200px;
        height: 200px;
    }
    .s5 .s5-inner .s5-cont .s5-list li .list-cont{
        padding: 20px;
    }
    .s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner .list-title{
        font-size: 1.8rem;
    }
    .s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner img{
        width: 20px;
    }
    .s5 .s5-inner .s5-cont .s5-list li .list-cont .list-inner .list_sub-title{
        font-size: 1.2rem;
    }
    .s5 .s5-inner .s5-footer .s5-footer--inner .footer-title h2{
        font-size: 3rem;
    }
    .s5 .s5-inner .s5-footer .s5-footer--inner .inquiry a{
        font-size: 1.5rem;
        padding: 5px 18px 5px 18px;
    }
    .s5 .s5-inner .s5-footer .s5-footer--inner .inquiry a svg{
        width:12px;
    }
}