.s3{
    position: relative;
}
.s3 .s3-inner{}
.s3 .s3-inner .s3-cont{}
.s3 .s3-inner .s3-cont .s3-cont--box{
    height: 100vh;
    position: relative;
}
.s3 .s3-inner .s3-cont .s3-cont--box:nth-child(2){
    background-color: #00DC84;
}
.s3 .s3-inner .s3-cont .s3-cont--box:nth-child(3){
    background-color: #00B7FF;
}
.s3 .s3-inner .s3-cont .s3-cont--box:nth-child(4){
    background-color: #2870FF;
}
.s3 .s3-inner .s3-cont .s3-cont--box:nth-child(5){
    background-color: #6F36FF;
}
.s3 .s3-inner .s3-cont .s3-cont--box .box-inner{
    display: flex;
    align-items: center;
    max-width: 1560px;
    width: 100%;
    padding: 0 20px;
}
.s3 .s3-inner .s3-cont .s3-cont--box .box-inner .box-txt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.s3 .s3-inner .s3-cont .s3-cont--box .box-inner .box-txt .txt-inner{
    
}
.s3 .s3-inner .s3-cont .s3-cont--box .box-inner .box-txt .txt_top{
    font-family: '4Regular';
    font-size: 2rem;
}
.s3 .s3-inner .s3-cont .s3-cont--box .box-inner .box-txt .txt_center{
    font-family: '6semi';
    font-size: 5rem;
    text-transform: uppercase;
}
.s3 .s3-inner .s3-cont .s3-cont--box .box-inner .box-txt .txt_bottom{
    font-family: '4Regular';
    font-size: 2.2rem;
}
.box-img{
    position: absolute;
    top: 0;
    right: 20px;
    height: 500vh;
}
.box-img .box-img--inner{}
.box-img .box-img--inner .img-test{
    position: relative;
    height: 100vh;
    width: 960px;
}
.box-img .box-img--inner .img-wrap{
    position: absolute;
    width: 960px;
    height: 540px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box-img .box-img--inner .img-wrap img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 960px;
    height: 540px;
    transform: translate(-50%, -50%);
    /* margin-left: auto; */
}
.wrap1{
    z-index: 5;
}
.wrap2{
    z-index: 4;
}
.wrap3{
    z-index: 3;
}
.wrap4{
    z-index: 2;
}
.wrap5{
    z-index: 1;
}

.s5{
    position: relative;
    height: 500vh;
}
.s5 .s5-inner{
}
.s5 .s5-inner .s5-cont{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.s5 .s5-inner .s5-cont .s5-cont--wrap{
    display: flex;
    align-items: center;
    display: flex;
}
.s5 .s5-inner .s5-cont .main_slide:nth-child(1){
    margin-left: 200px;
}
.s5 .s5-inner .s5-cont .main_slide{
    margin-right: 200px;
}
.s5 .s5-inner .s5-cont .main_slide:nth-child(3){
}
.s5 .s5-inner .s5-cont .main_slide .slide_title{
    
}
.s5 .s5-inner .s5-cont .main_slide .slide_title .title-inner{
    display: inline-flex;
    align-items: flex-end;
    gap: 35px;
    margin-bottom: 35px;
}
.s5 .s5-inner .s5-cont .main_slide .slide_title p:nth-child(1){
    font-family: '6semi';
    font-size: 6rem;
}
.s5 .s5-inner .s5-cont .main_slide .slide_title p:nth-child(2){
    font-family: '5medium';
    color: #212121;
}
.s5 .s5-inner .s5-cont .main_slide .slide_title span{
    font-family: '6semi';
    font-size: 1.6rem;
    text-decoration: underline;
    text-underline-position: under;
    color: #323232;
}
.s5 .s5-inner .s5-cont .main_slide .main-list{
    display: flex;
    align-items: center;
    gap: 10px;
}
.s5 .s5-inner .s5-cont .main_slide .main-list li{}
.s5 .s5-inner .s5-cont .main_slide .main-list li .main-list--cont{
    width: 730px;
    height: 450px;
}
.s5 .s5-inner .s5-cont .main_slide .main-list li .main-list--cont a{
    overflow: hidden;
    height: 100%;
}
.s5 .s5-inner .s5-cont .main_slide .main-list li .main-list--cont a .img-wrap{}
.s5 .s5-inner .s5-cont .main_slide .main-list li .main-list--cont a .img-wrap img{
    width: 100%;
}
.s5 .s5-inner .s5-cont .main_slide .main-list li .main-list--cont .list-txt{
    margin-top: 24px;
}
.s5 .s5-inner .s5-cont .main_slide .main-list li .main-list--cont .list-txt p:nth-child(1){
    font-family: '5medium';
    font-size: 2rem;
    color: #616161;
    margin-bottom: 13px;
}
.s5 .s5-inner .s5-cont .main_slide .main-list li .main-list--cont .list-txt p:nth-child(2){
    font-family: '6semi';
    font-size: 2.6rem;
}



.s1{
    position: relative;
}
.s1 .s1-inner{
}
.s1 .s1-inner .s1-cont{}
.s1 .s1-inner .s1-cont .txt-wrap{}
.s1 .s1-inner .s1-cont .txt-wrap > div{
    height: 100vh;
}
.s1 .s1-inner .s1-cont .txt-wrap .txt-wrap1{
    background: #fff;
}
.s1 .s1-inner .s1-cont .txt-wrap .txt-wrap2{
    background: #00dc84;
}
.s1 .s1-inner .s1-cont .txt-wrap .txt-wrap3{
    background: #00b7ff;
}
.s1 .s1-inner .s1-cont .txt-wrap .txt-wrap4{
    background: #2870ff;
}
.s1 .s1-inner .s1-cont .txt-wrap .txt-wrap5{
    background: #6f36ff;
}
.s1 .s1-inner .s1-cont .txt-wrap .txt-wrap--inner{
    position: relative;
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.s1 .s1-inner .s1-cont .txt-wrap .txt-wrap--inner .txt{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.s1 .s1-inner .s1-cont .txt-wrap .txt-wrap--inner .txt p:nth-child(1){
    font-family: '4Regular';
    font-size: 2rem;
    color: #212121;
}
.s1 .s1-inner .s1-cont .txt-wrap .txt-wrap--inner .txt p:nth-child(2){
    font-family: '6semi';
    font-size: 5rem;
    color: #000;
    margin: 20px 0 90px 0;
    text-transform: uppercase;
}
.s1 .s1-inner .s1-cont .txt-wrap .txt-wrap--inner .txt p:nth-child(3){
    font-family: '4Regular';
    font-size: 2.2rem;
    color: #212121;
}
.s1 .s1-inner .s1-cont .img-wrap{
    position: absolute;
    top: 0;
    width: 100%;
    height: 400vh;
    max-width: 1560px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}
.s1 .s1-inner .s1-cont .img-wrap .sticky .img-area{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.s1 .s1-inner .s1-cont .img-wrap .sticky .img-area .img-cont{
    width: 960px;
    height: 540px;
    position: relative;
}
.s1 .s1-inner .s1-cont .img-wrap .sticky .img-area .img-cont > div{
    position: absolute;
    top: 0;
    left: 0;
    clip-path: inset(0% 0% 0% 0%);
}
.s1 .s1-inner .s1-cont .img-wrap .sticky .img-area .img-cont .img-wrap1{
    z-index: 5;
}
.s1 .s1-inner .s1-cont .img-wrap .sticky .img-area .img-cont .img-wrap2{
    z-index: 4;
}
.s1 .s1-inner .s1-cont .img-wrap .sticky .img-area .img-cont .img-wrap3{
    z-index: 3;
}
.s1 .s1-inner .s1-cont .img-wrap .sticky .img-area .img-cont .img-wrap4{
    z-index: 2;
}
.s1 .s1-inner .s1-cont .img-wrap .sticky .img-area .img-cont .img-wrap5{
    z-index: 1;
}
.s1 .s1-inner .s1-cont .img-wrap .sticky .img-area .img-cont .img-wrap--inner{}
.s1 .s1-inner .s1-cont .img-wrap .sticky .img-area .img-cont .img-wrap--inner img{}