/* html {
    scroll-snap-type: y proximity;
}

.s5 {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
} */

.s1{
    position: relative;
    z-index: 2;
    height: 70vh;
}
.s1 .s1-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: #fff;
}
.s1 .s1-inner h2{
    font-family: '7bold';
    font-size: 9.6rem;
    text-align: center;
    color: #000;
}

.s2{
    height: 300vh;
}
.s2 .s2-inner{
}
.s2 .s2-inner .s2-cont{
    height: 100%;
}
.s2 .s2-inner .s2-cont .s2-bg{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.s2 .s2-inner .s2-cont .s2-bg img{
    width: 100%;
    height: 130%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.s2 .s2-inner .s2-cont h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, .3);
    font-family: '6semi';
    font-size: 6rem;
    text-align: center;
    white-space: nowrap;
}


.s3{
    position: relative;
    height: 300vh;
}
.s3 .s3-inner .s3-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 142px;
    max-width: 885px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 792px;
}
.s3 .s3-inner .s3-cont .s3-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}
.s3 .s3-inner .s3-cont .s3-title h2{
    font-size: 6rem;
    font-family: '6semi';
}
.s3 .s3-inner .s3-cont .s3-title p{
    font-size: 3rem;
    font-family: '4Regular';
    color: #616161;
}
.s3 .s3-inner .s3-cont .pain-point{
    display: flex;
    flex-direction: column;
    gap: 300px;
    width: 100%;
}
.s3 .s3-inner .s3-cont .s3-list{
    display: flex;
    flex-direction: column;
    gap: 300px;
    width: 100%;
}
.s3 .s3-inner .s3-cont .s3-list li{
    width:max-content
}
.s3 .s3-inner .s3-cont .s3-list li:nth-child(1),
.s3 .s3-inner .s3-cont .s3-list li:nth-child(3){
    margin-left: auto;
}
.s3 .s3-inner .s3-cont .s3-list li:nth-child(2),
.s3 .s3-inner .s3-cont .s3-list li:nth-child(4){
    margin-right: auto;
}
.s3 .s3-inner .s3-cont .s3-list .list-cont{
    background: #f5f5f5;
    width: 600px;
    height: 68px;
    text-align: center;
    line-height: 68px;
}
.s3 .s3-inner .s3-cont .s3-list .list-cont p{
    font-family: '5medium';
    font-size: 3.2rem;
}
.s3 .s3-inner .s3-cont .square{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.s3 .s3-inner .s3-cont .square span{
    width: 16px;
    height: 16px;
}
.s3 .s3-inner .s3-cont .square span:nth-child(1){
    background: #e0e0e0;
}
.s3 .s3-inner .s3-cont .square span:nth-child(2){
    background: #EEEEEE;
}
.s3 .s3-inner .s3-cont .square span:nth-child(3){
    background: #FAFAFA;
}


.s4{
    position: relative;
    z-index: 1;
    height: 500vh;
    margin-top: -200vh;
}

.s4 .s4-inner .s4-clippath{
    height: 100%;
    background: #000;
    clip-path: inset(100% 0% 0% 0%);
}
.s4 .s4-inner{
}
.s4 .s4-inner .s4-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.s4 .s4-inner .s4-cont .s4-title{
    text-align: center;
    margin-bottom: 40px;
}
.s4 .s4-inner .s4-cont .s4-title h2{
    font-family: '6semi';
    font-size: 6rem;
    color: #fff;
}
.s4 .s4-inner .s4-cont .s4-link{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
.s4 .s4-inner .s4-cont .s4-link a{
    display: flex;
    align-items: center;
    gap: 13px;
    font-family: '6semi';
    font-size: 2.4rem;
    padding: 12px 24px;
    color: #eee;
    background: #212121;
}
.s4 .s4-inner .s4-cont .s4-list{
    display: flex;
    gap: 100px;
    padding: 0 20px;
    width: 100%;
}
.s4 .s4-inner .s4-cont .s4-list li{
    flex: 1;
}
.s4 .s4-inner .s4-cont .s4-list li .list-cont{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 17% 10%;
    transition: all .3s ease;
    overflow: hidden;
}
.s4 .s4-inner .s4-cont .s4-list li .list-cont .list-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6F36FF;
    z-index: -1;
    transform-origin: left center;
    transform: scaleX(0);
}
.s4 .s4-inner .s4-cont .s4-list li .list-cont .list-img{
    margin-bottom: 53px;
}
.s4 .s4-inner .s4-cont .s4-list li .list-cont .list-img img{}
.s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt{}
.s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt p{
    color: #fff;
}
.s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt p:nth-child(1){
    margin-bottom: 19px;
    font-family: '6semi';
    font-size: 2.3vw;
}
.s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt p:nth-child(2){
    font-family: '4Regular';
    font-size: 1.8vw;
}
.s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt p:nth-child(3){
    font-family: '7bold';
    font-size: 1.8vw;
}

/* s5(다섯번째 섹션) */
.s5{
    position: relative;
    background: #000;
    height: 120vh;
}
.s5 .s5-inner{
}
.s5 .s5-inner .s5-cont{
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.s5 .s5-inner .s5-cont .s5-title{
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    text-align: center;
}
.s5 .s5-inner .s5-cont .s5-title h2{
    font-family: '6semi';
    font-size: 6rem;
    color: #fff;
}
.s5 .s5-inner .s5-cont .s5-title p{
    font-family: '4Regular';
    font-size: 3rem;
    color: #e0e0e0;
}
.s5 .s5-inner .s5-cont .s5-list{
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.s5 .s5-inner .s5-cont .s5-list li{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
    width: calc((100vw - 40px) / 3);
    outline: none;
}
.s5 .s5-inner .s5-cont .s5-list li:hover{
    width: calc(((100vw - 25vw) / 3) * 1.8);
    transition: width cubic-bezier(0.16, 1, 0.3, 1) 0.3s;
}
.s5 .s5-inner .s5-cont .s5-list .list-cont a{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.s5 .s5-inner .s5-cont .s5-list .list-cont .list-img {
    transition: none;
    overflow: hidden;
    padding-top: calc(((100vw - 25vw) / 3) * 1);
    position: relative;
    width: 100%;
}

.s5 .s5-inner .s5-cont .s5-list .list-cont .list-img img{
    position: absolute;
    bottom: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    /* height: 100%; */
}
.s5 .s5-inner .s5-cont .s5-list .list-cont .list-txt{
    display: flex;
    flex-direction: column;
    gap: 13px;
    color: #fff;
}
.s5 .s5-inner .s5-cont .s5-list .list-cont .list-txt p:nth-child(1){
    font-family: '5medium';
    font-size: 0.83vw;
}
.s5 .s5-inner .s5-cont .s5-list .list-cont .list-txt p:nth-child(2){
    font-family: '6semi';
    font-size: 1.25vw;
}

.s6{
    background: #000;
}
.s6 .s6-inner{}
.s6 .s6-inner .s6-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    padding: 130px 0 113px 0;
}
.s6 .s6-inner .s6-cont .img-box{
    width: 33%;
}
.s6 .s6-inner .s6-cont .img-box img{}
.s6 .s6-inner .s6-cont .txt-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    color: #fff;
    width: calc(67% - 90px);
}
.s6 .s6-inner .s6-cont .txt-box .top{
    
}
.s6 .s6-inner .s6-cont .txt-box .top p{
    font-family: '6semi';
    font-size: 1.35vw;
}
.s6 .s6-inner .s6-cont .txt-box .bottom{
    
}
.s6 .s6-inner .s6-cont .txt-box .bottom p{}
.s6 .s6-inner .s6-cont .txt-box .bottom p:nth-child(1){
    font-family: '5medium';
    font-size: 1.5vw;
}
.s6 .s6-inner .s6-cont .txt-box .bottom p:nth-child(2){
    font-family: '5medium';
    font-size: 1vw;
}


.s7{
    overflow: hidden;
    background: #000;
}
.s7 .s7-inner{}
.s7 .s7-inner .s7-list{
    display: flex;
    align-items: center;
    padding: 55px 0;
}
.s7 .s7-inner .s7-list li{
    flex: 0 0 auto;
    margin-right: 40px;
}
.s7 .s7-inner .s7-list li .list-img{
    position: relative;
}
.s7 .s7-inner .s7-list li .list-img img.off{}
.s7 .s7-inner .s7-list li .list-img img.on{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.s8{
    position: relative;
    height: 50vh;
}
.s8 .s8-inner{
    width: 100%;
    height: 100%;
    background-image: url('../images/solution-intro/s1_img1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.s8 .s8-inner .s8-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 91px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.s8 .s8-inner .s8-cont .s8-title{
    font-family: '6semi';
    font-size: 6rem;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}
.s8 .s8-inner .s8-cont .inquiry{}
.s8 .s8-inner .s8-cont .inquiry a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: '6semi';
    font-size: 2.4rem;
    padding: 10px 24px 10px 28px;
    background: #212121;
    color: #fff;
}


@media (max-width:1080px){
    .s1 .s1-inner h2{
        font-size: 7rem;
    }

    .s2 .s2-inner .s2-cont h2{
        font-size: 5rem;
    }

    .s3 .s3-inner .s3-cont{
        height: 672px;
    }
    .s3 .s3-inner .s3-cont .s3-title h2{
        font-size: 4rem;
    }
    .s3 .s3-inner .s3-cont .s3-title p{
        font-size: 2rem;
    }
    .s3 .s3-inner .s3-cont .s3-list .list-cont{
        width: 500px;
        height: 50px;
        line-height: 50px;
    }
    .s3 .s3-inner .s3-cont .s3-list .list-cont p{
        font-size: 2.4rem;
    }
    .s3 .s3-inner .s3-cont .square span{
        width: 12px;
        height: 12px;
    }

    .s4 .s4-inner .s4-cont .s4-title h2{
        font-size: 5rem;
    }
    .s4 .s4-inner .s4-cont .s4-link a{
        font-size: 2rem;
    }
    .s4 .s4-inner .s4-cont .s4-list{
        justify-content: center;
        gap: 30px;
    }
    .s4 .s4-inner .s4-cont .s4-list li{
        
    }
    .s4 .s4-inner .s4-cont .s4-list li .list-cont{
        padding: 75px 0 75px 30px;
    }
    .s4 .s4-inner .s4-cont .s4-list li .list-cont .list-img img{
        width: 50px;
    }
    .s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt p:nth-child(1){
        font-size: 3rem;
    }
    .s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt p:nth-child(2),
    .s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt p:nth-child(3){
        font-size: 2rem;
    }

    .s5{
        height: 100vh;
    }
    .s5 .s5-inner .s5-cont .s5-title h2{
        font-size: 5rem;
    }
    .s5 .s5-inner .s5-cont .s5-title p{
        font-size: 2rem;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-txt p:nth-child(1){
        font-size: 1.8vw;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-txt p:nth-child(2){
        font-size: 2vw;
    }

    .s8 .s8-inner .s8-cont .s8-title{
        font-size: 5rem;
    }
}

@media (max-width:1024px){
    .s5 {
        height: 250vh;
    }
    .s5 .s5-inner .s5-cont .s5-list{
        flex-direction: column;
    }
    .s5 .s5-inner .s5-cont .s5-list li{
        width: 100%;
    }
    .s5 .s5-inner .s5-cont .s5-list li:hover{
        width: 100%;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-img{
        padding-top: calc(((1520px - 40px) / 3) * 1);
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-img img{
        aspect-ratio: unset;
    }
}

@media (max-width:768px){
    .s1 .s1-inner h2{
        font-size: 5rem;
    }

    .s2 .s2-inner .s2-cont h2{
        font-size: 4rem;
    }

    .s3 .s3-inner .s3-cont{
        height: 620px;
    }
    .s3 .s3-inner .s3-cont .s3-title h2{
        font-size: 3.2rem;
    }
    .s3 .s3-inner .s3-cont .s3-title p{
        font-size: 1.8rem;
    }
    .s3 .s3-inner .s3-cont .s3-list .list-cont p{
        font-size: 2rem;
    }
    .s3 .s3-inner .s3-cont .s3-list .list-cont{
        width: 400px;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
    }

    .s4 .s4-inner .s4-cont .s4-title h2{
        font-size: 4rem;
    }
    .s4 .s4-inner .s4-cont .s4-list{
        flex-direction: column;
    }
    .s4 .s4-inner .s4-cont .s4-list li .list-cont{
        padding: 20px;
    }
    .s4 .s4-inner .s4-cont .s4-list li .list-cont .list-img{
        margin-bottom: 10px;
    }
    .s4 .s4-inner .s4-cont .s4-list{
        gap: 10px;
    }
    .s4 .s4-inner .s4-cont .s4-title{
        margin-bottom: 10px;
    }
    .s4 .s4-inner .s4-cont .s4-link{
        margin-bottom: 20px;
    }
    .s4 .s4-inner .s4-cont .s4-link a{
        font-size: 1.5rem;
        padding: 5px 18px 5px 18px;
    }
    .s4 .s4-inner .s4-cont .s4-link a svg{
        width:12px;
    }
    .s4 .s4-inner .s4-cont .s4-list li .list-cont .list-img img{
        width: 40px;
    }
    .s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt p:nth-child(1){
        margin-bottom: 10px;
    }

    .s5{
        height: 220vh;  
    }
    .s5 .s5-inner .s5-cont .s5-title h2{
        font-size: 3rem;
    }
    .s5 .s5-inner .s5-cont .s5-title p{
        font-size: 1.6rem;
    }
    .s5 .s5-inner .s5-cont{
        gap: 50px;
    }
    .s5 .s5-inner .s5-cont .s5-list{
        flex-direction: column;
    }
    .s5 .s5-inner .s5-cont .s5-list li{
        width: 100%;
    }
    .s5 .s5-inner .s5-cont .s5-list li:hover{
        width: 100%;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont a{
        gap: 10px;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-img{
        padding-top: 0;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-img{
        position: unset;
        height: unset;
        aspect-ratio: 9/6;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-img{
        aspect-ratio: 9/6 !important;
        height: unset !important;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-img:hover{
        aspect-ratio: 9/6 !important;
        height: unset !important;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-img img{
        position: unset;
        aspect-ratio: unset;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-txt,
    .s5 .s5-inner .s5-cont .s5-list{
        gap: 10px;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-txt p:nth-child(1){
        font-size: 1.6rem;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-txt p:nth-child(2){
        font-size: 2rem;
    }

    .s6 .s6-inner .s6-cont{
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
    .s6 .s6-inner .s6-cont .img-box{
        width: 100%;
    }
    .s6 .s6-inner .s6-cont .img-box img{
        width: 100%;
    }
    .s6 .s6-inner .s6-cont .txt-box{
        width: 100%;
        gap: 8px;
        white-space: unset;
    }
    .s6 .s6-inner .s6-cont .txt-box .top p{
        font-size: 1.6rem;
    }
    .s6 .s6-inner .s6-cont .txt-box .bottom p:nth-child(1){
        font-size: 1.5rem;
    }
    .s6 .s6-inner .s6-cont .txt-box .bottom p:nth-child(2){
        font-size: 1.4rem;
    }

    .s8 .s8-inner .s8-cont{
        gap: 40px;
    }
    .s8 .s8-inner .s8-cont .s8-title{
        font-size: 4rem;
    }
    .s8 .s8-inner .s8-cont .inquiry a{
        font-size: 1.5rem;
        padding: 5px 18px 5px 18px;
    }
    .s8 .s8-inner .s8-cont .inquiry a svg{
        width:12px;
    }
}

@media (max-width:480px){
    .s1 .s1-inner h2{
        font-size: 4rem;
    }
    .s2 .s2-inner .s2-cont h2{
        font-size: 3rem;
    }

    .s3 .s3-inner .s3-cont .s3-list li{
        margin: 0 auto !important;
        width: 100%;
        text-align: center;
    }
    .s3 .s3-inner .s3-cont .s3-list{
        gap: 20px;
    }
    .s3 .s3-inner .s3-cont{
        gap: 100px;
        height: 569px;
    }
    .s3 .s3-inner .s3-cont .s3-list .list-cont{
        width: 300px;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
    }
    .s3 .s3-inner .s3-cont .s3-list .list-cont p{
        font-size: 1.4rem;
    }
    .s3 .s3-inner .s3-cont .square span{
        width: 9px;
        height: 9px;
    }

    .s4 .s4-inner .s4-cont .s4-title h2{
        font-size: 3rem;
    }
    .s4 .s4-inner .s4-cont .s4-link a{
        gap: 7px;
    }
    .s4 .s4-inner .s4-cont .s4-list li .list-cont .list-img img{
        width: 30px;
    }
    .s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt p:nth-child(1){
        font-size: 2rem;
    }
    .s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt p:nth-child(2), .s4 .s4-inner .s4-cont .s4-list li .list-cont .list-txt p:nth-child(3){
        font-size: 1.6rem;
    }

    .s5{
        height: 140vh;
    }
    .s5 .s5-inner{
        padding: 0;
    }
    .s5 .s5-inner .s5-cont .s5-list li:hover{
        flex: unset !important;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-img:hover{
        width: unset !important;
    }
    .s5 .s5-inner .s5-cont{
        gap: 30px;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-txt p:nth-child(1){
        font-size: 1rem;
    }
    .s5 .s5-inner .s5-cont .s5-list .list-cont .list-txt p:nth-child(2){
        font-size: 1.2rem;
    }
    .s5 .s5-inner .s5-cont .s5-title{
        gap: 10px;
    }
    .s5 .s5-inner .s5-cont .s5-title h2{
        font-size: 2rem;
    }
    .s5 .s5-inner .s5-cont .s5-title p{
        font-size: 1.4rem;
    }
    .s5 .s5-inner .s5-cont .s5-list li{
        width: 100%;
    }

    .s6 .s6-inner .s6-cont{
        padding: 100px 0;
    }

    .s7 .s7-inner .s7-list li .list-img img{
        width: 100px;
    }

    .s8 .s8-inner .s8-cont .s8-title{
        font-size: 3rem;
    }
    .s8 .s8-inner .s8-cont .inquiry a{
        gap: 7px;
    }
}